/* Large view styles */
@media (min-width: 64em) {
  /* Header Styles */
  header h1 {
    font-size: 1.8rem;
  }

  /* Navigation Styles */
  #primary-nav {
    justify-content: flex-end;
  }

  #primary-nav li {
    flex: 0 1 auto;
  }

  #primary-nav a {
    padding: 1rem 1.5rem;
  }

  /* Main Content Styles */
  main {
    padding-top: 2rem;
  }
  
  .hero-section {
    height: 500px;
    margin-bottom: 2rem;
  }
  
  .events-section, .weather-section {
    display: inline-block;
    vertical-align: top;
  }
  
  .events-section {
    width: 48.5%;
    margin-right: 3%;
  }
  
  .weather-section {
    width: 48.5%;
  }

  .hero-content h2 {
    font-size: 2.8rem;
  }

  .spotlights-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .footer-map {
    height: 300px;
  }
}